<!DOCTYPE html>
<html>

<head>
    <title>Facebook</title>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, 
maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">



</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light mb-2">
        <div class="container">
            <a class="navbar-brand " href="/posts"><img height="50px" src="/assets/facebook.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <% if (!currentUser){ %>
                <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/register">SignUp </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                </ul>
                <%}else{ %>
                    <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/posts" data-toggle="tooltip" data-placement="bottom" title="Home"> <img
                            height="30px" src="/assets/browser.png"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="tooltip" data-placement="bottom" title="Friends"> <img
                            height="30px" src="/assets/group.png"></a>
                </li>
            </ul>
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link user" href="/posts" data-toggle="tooltip" data-placement="bottom"
                        title="<%=currentUser.username  %>"> <%= currentUser.username %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link left_icons" href="/posts/new" data-toggle="tooltip" data-placement="bottom"
                        title="Create Post"><img height="30px" src="/assets/add.png"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link left_icons" href="/logout" data-toggle="tooltip" data-placement="bottom"
                        title="Logout"><img height="30px" src="/assets/logout.png"></a>
                </li>
            </ul>
                <%} %>



            </div>
        </div>
    </nav>
    <br><br><br><br>
    <div class="container">
        <% if (error && error.length>0){ %>
        <div class="alert alert-danger" role="alert">
            <%=error  %>
        </div>
        <% } %>
        <% if (success && success.length>0){ %>
        <div class="alert alert-success" role="alert">
            <%=success  %>
        </div>
        <% } %>
    </div>
    