body {
    background-image: url(http://i.imgur.com/K3mPv14.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

a:hover {
    text-decoration: none;
}

.navbar-brand,
.nav-link {
    color: #fff;

}
.nav-item :hover,.navbar-brand :hover {
    color: #212121;
}


#landing-header {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

